.AppWrapper {
  padding: 15px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bank-section {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.current-bank {
  margin-left: 20px;
  width: 100px;
  font-size: 25px;
}